:root {
  --bg-main:#ffffff;      /* main background */
  --bg-card:#f8fafc;      /* cards */

  --primary:#4f46e5;      /* main color */
  --accent:#818cf8;       /* highlight color */

  --text-dark:#0f172a;
  --text-light:#64748b;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: var(--bg-main);
  border-bottom: 1px solid var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .logo a {
  font-size: 34px;
  color: var(--primary);
  font-weight: 700;
  margin-right: 50px;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-dark);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 6px 4px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: var(--primary);
}

.nav-links a:hover::after {
  width: 100%;
}

@media (max-width: 768px){
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
    height: 350px;
    font-weight: 700;
  }
  .nav-links {
    flex-direction: column;
    gap: 15px;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 18px;
    align-items: center;
    
  }
  .navbar .logo a {
    margin-right: 0;
  }
  .nav-links li a {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
  
}

/* home section */
.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 50px;
  margin: 60px;
  margin-top: 100px;
  align-items: center;
  background-color: var(--bg-card);
  border-radius: 20px;
  border-bottom: 2px solid var(--accent);
  box-shadow: 0 20px 40px rgba(220, 38, 38, 0.12);
}
.image {
  text-align: center;
  margin-top: 30px;
}

.image img {
  height: 170px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid var(--primary);
  transition: transform 0.5s ease;
}

.image img:hover {
  transform: scale(1.1);
}

.image h2 {
  font-size: 1.6rem;
  margin-top: 10px;
  color: #333;
}


#typed {
  color: var(--primary);
  font-size: 1rem;
}

.content h4 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 12px;
  text-align: center;
}

.content p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  line-height: 1.6;
}

.name {
  color: var(--accent);
  font-weight: 600;
}


@media (max-width: 768px) {
  .home-section {
    grid-template-columns: 1fr;
    text-align: center;
    /* margin-right: px; */
  }
  .image img {
    width: 150px;
    height: 160px;
  }
}


.footer-section {
  height: 200px;
  width: 100%;
  background-color: var(--bg-card);
  border-top: 2px solid var(--accent);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.one {
  margin-top: 50px;
}

.footer-section .one p {
  color: var(--text-dark);
  font-weight: 700;
  margin-left: 130px;
  font-size: 1rem;
  line-height: 1.5;
}

.one p:hover {
  color: var(--primary);
}

.footer-section .two h5,
.footer-section .three h5 {
  color: var(--text-dark);
  font-weight: 700;
  margin-left: 50px;
  font-size: 1rem;
}

.two h5 {
  margin-top: 100px;
}

.three {
  margin-top: 60px;
}

.three h5 {
  margin-top: 5px;
  color: var(--primary);
}

.two:hover, .three:hover {
  color: var(--primary);
}

/* media query */
@media(max-width: 768px){
  .footer-section {
   grid-template-columns: 1fr;
   text-align: center;
   height: auto;
   padding: 20px 0;
  }
  .footer-section .one P {
    margin-left: 0;
  }
  .footer-section .two h5 {
    margin-left: 0;
  }
  .footer-section .three h5 {
    margin-left: 0;
  }
  .one .two .three {
    margin-top: 15px;
  }
}

/* about section */
.about-section {
  text-align: center;
  padding: 40px 20px;
}

.about-section div h3 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 15px;
  box-shadow: rgba(0,0,0,0.25) 0px 14px 28px,
              rgba(0,0,0,0.22) 0px 10px 10px;
  display: inline-block;
  padding: 10px 20px;
}

.about-section div h5 {
  font-size: 1.2rem;
  color: var(--text-dark);
  margin-top: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  box-shadow: rgba(0,0,0,0.25) 0px 14px 28px,
              rgba(0,0,0,0.22) 0px 10px 10px;
  padding: 15px;
}

.about-section a {
  display: inline-block;
  margin-top: 30px;
  color: white;
  background: var(--primary);
  padding: 10px 22px;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.about-section a:hover{
  background-color: white;
  color: var(--primary);
  border:1px solid var(--primary);
}

/* cards */
.card-section{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
  padding:40px;
}

.card-section div{
  background:var(--bg-card);
  padding:20px;
  border-radius:15px;
  box-shadow:0 15px 35px rgba(0,0,0,0.1);
  text-align:center;
  border: 2px solid var(--primary);
}

.card-section div:hover {
  box-shadow:0 0 12px rgba(250,204,21,0.6);
}

.card-section img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:10px;
  margin:15px 0;
}

.card1, .card2 h5 {
  color: var(--accent);
  font-size: 1rem;
  text-align: center;
}

.card1, .card2 p {
  color: var(--text-dark);
}



/* responsive */
@media (max-width:768px){

.card-section{
  grid-template-columns:1fr;
  padding:20px;
}

.about-section div h3{
  font-size:1.3rem;
}

.about-section div h5{
  font-size:1.05rem;
}
}
.skills{
  max-width:1000px;
  margin:60px auto;
  padding:20px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  text-align:center;
}

.skills h2{
  grid-column:1/-1;
  font-size:2rem;
  color:var(--primary);
  margin-bottom:20px;
}

.skill-box{
  background:var(--bg-card);
  padding:25px;
  border-radius:15px;
  border:1px solid var(--border);
  transition:.3s;
}
.card-rounded {
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center; /* text center below card */
}

.card-text {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 18px;
  color: red;        /* colored text */
  opacity: 0;             
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(10px); /* thoda niche se slide in */
}



.card1 h5 {
  color: var(--primary);
  font-size: 1.2rem;
}

.card1 p {
  color: var(--accent);
  font-weight: 600;
}



.skill-box:hover{
  transform:translateY(-6px);
}

.skill-box h3{
  color:var(--primary);
  margin-bottom:15px;
}

.skill-box ul{
  list-style:none;
  padding:0;
}

.skill-box ul li{
  margin:10px 0;
  font-weight:600;
  color:var(--text-dark);
}

.skill-box i{
  margin-right:8px;
  color:var(--accent);
}

.progress-section{
  max-width:1000px;
  margin:80px auto;
  padding:30px;
  border-radius:20px;
  background:var(--bg-card);
  box-shadow:0 15px 40px var(--shadow);
}

.progress-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:40px;
}

.progress-part h3{
  text-align:center;
  margin-bottom:25px;
  color:var(--primary);
}

.progress-container{
  margin-bottom:20px;
}

.progress-container h4{
  margin-bottom:6px;
}

.progress-bar{
  width:100%;
  background:#1f2937;
  border-radius:30px;
  height:20px;
  overflow:hidden;
}

.progress-bar span{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding-right:10px;
  font-size:.8rem;
  height:100%;
  color:white;
  background:linear-gradient(90deg,var(--primary),var(--accent));
  border-radius:30px;
  animation:load 1.4s ease;
}

@keyframes load{
  from{width:0;}
}

@media(max-width:768px){
  .skills{
    grid-template-columns:1fr;
  }
  .progress-section{
    margin:60px 15px;
  }
}

.contact{
  padding:60px 20px;
}

.container{
  max-width:1000px;
  margin:auto;
  text-align:center;
}

h1{
  font-size:40px;
  margin-bottom:10px;
 color: var(--primary);
}

.tagline{
  color: var(--accent);
  margin-bottom:40px;
}

.contact-box{
  display:flex;
  gap:30px;
  background:white;
  padding:30px;
  border-radius:12px;
  box-shadow:0 4px 20px rgba(0,0,0,0.1);
  flex-wrap:wrap;
}

.info{
  flex:1;
  text-align:left;
            
}

.info h2{
  margin-bottom:30px;
  margin-left: 60px;
  margin-top: 40px;
  color: var(--text-dark);
}

.info p {
  margin-left: 60px;
  margin-top: 30px;
  color: var(--accent);
}

.note{
  margin-top:20px;
  color: var(--text-dark);
  font-size:14px;
  margin-left: 75px;
}

.form{
  flex:1;
  display:flex;
  flex-direction:column;
  gap:15px;
  color: purple;
}

.form input, .form textarea{
  padding:12px;
  border:1px solid #ddd;
  border-radius:8px;
  font-size:15px;
  color: purple;
}

.form input {
  color: purple;
}

#formMessage{
background:#d1fae5;
color:#065f46;
padding:12px;
border-radius:8px;
margin-top:15px;
}


.form button{
  padding:12px;
  border:none;
  background:var(--accent);
  color:white;
  font-size:20px;
  border-radius:8px;
  cursor:pointer;
  transition:0.3s;
}

.form button:hover{
  background:var(--text-dark);
  color: white;
}

/* projects */

.projectbar{
    padding:20px 20px;
    /* background:var(--text-dark); */
    font-family:"Arimo",sans-serif;
}

.head {
  text-align: center;
  margin-bottom: 40px;
  color: var(--primary);
}


#ads{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    max-width:1100px;
    margin:auto;
}

.card-rounded{
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 6px 18px rgba(0,0,0,0.1);
    transition:0.3s ease;
    text-align:center;
    border: 1px solid purple;
    margin-bottom: 40px;
}

.card-rounded:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
}

.card-image{
    width:100%;
    height:150px;
    /* margin-top: 10px; */
    object-fit:cover;
}

.card-image-overlay{
    padding:6px;
}

.card-detail-badge{
    display:inline-block;
    margin:4px;
    padding:6px 12px;
    background:var(--accent);
    color:white;
    border-radius:20px;
    font-size:12px;
}

.card-body h6{
    font-size:16px;
    margin:10px 0;
    font-weight:600;
    color: var(--text-dark);
}

.add-btn{
    display:inline-block;
    margin:10px 0 20px;
    padding:6px 12px;
    background:var(--accent);
    color:var(--text-dark);
    text-decoration:none;
    border-radius:25px;
    transition:0.3s;
}

.add-btn:hover{
    background:var(--text-dark);
    color: white;
}

@media(max-width:768px){

  .info{
    padding:22px;
    border-radius:18px;
  }

  .info h2 {
    font-size: 1.3rem;
    color: var(--primary);
    margin-right: 10px;
  }

  .info p{
    font-size:0.95rem;
    gap:8px;
  }

  .info strong{
    min-width:85px;
  }

}


@media (max-width: 768px){
  .projectbar .head {
    font-size: 1.3rem;
  }
  .card-rounded {
    margin-bottom: 40px;
    border: 1px solid red;
  }
}